# build artifacts
build/
obj-x86_64-linux-gnu/
audiodecoder.*/resources/settings.xml
audiodecoder.*/addon.xml

debian/.debhelper/*
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/kodi-audiodecoder-fluidsynth-dbg/
debian/kodi-audiodecoder-fluidsynth/
debian/tmp/

# commonly used editors
# vim
*.swp

# Eclipse
*.project
*.cproject
.classpath
*.sublime-*
.settings/

# KDevelop 4
*.kdev4

# gedit
*~

# CLion
/.idea

# clion
.idea/

# KDev
*.kdev4
